/**
  * ===========================================================
  * FOOTER SECTION
  * ===========================================================
  */

  .page-footer {
    padding: 18px 15px;


    font-family: "PTSans", "Arial", sans-serif;
    font-weight: normal;

    // background-color: #fefefe;
    text-align: center;
  }

// .page-footer__wrapper {
//   width: 320px;
// }

.page-footer__header {
  margin-bottom: 32px;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}

.social__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  text-decoration: none;
}

.page-footer__copyright {
  position: relative;

  margin: 0 auto;
  margin-top: 36px;

  min-width: 128px;

  font-size: 14px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;
}

.page-footer__copyright-link {
  display: inline-block;
  position: relative;

  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 40px;

  color: #000000;
  text-decoration: none;
}

.copyright__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

/**
  * ===========================================================
  * PAGE FOOTER tablet
  * ===========================================================
  */

  @media (min-width: $tablet-width) {

  .page-footer__wrapper {
    display: flex;
  align-items: center;
  justify-content: space-around;
  }

  .page-footer__header {
    vertical-align: top;

    width: 235px;

    text-align: left;
  }

  .social__list {

    display: flex;

    vertical-align: top;

  }

  .page-footer__copyright {
    vertical-align: top;

    width: 228px;

    text-align: right;
  }
}

/**
  * ===========================================================
  * PAGE FOOTER desktop
  * ===========================================================
  */

  @media (min-width: $desktop-width) {

    .page-footer {
      padding: 20px 43px;
      padding-left: 131px;
    }

    .page-footer__header {
      width: 375px;
    }

    .page-footer__social {
      margin: 10px 15px;
    }

    .page-footer__copyright {
      width: 278px;
    }
  }
