/**
  * ===========================================================
  * MAP SECTION
  * ===========================================================
  */

  .contacts {
    position: relative;

    height: 350px;
  }

  .contacts__map-picture {
    max-width: 100%;
    height: auto;

    z-index: 0;
  }

  /**
    * ===========================================================
    * HOTEL SEARCH SECTION tablet
    * ===========================================================
    */

  @media (min-width: $tablet-width) {

}

  /**
    * ===========================================================
    * ADVANTAGES SECTION desktop
    * ===========================================================
    */

    @media (min-width: $desktop-width) {


  }
