body {
  width: 320px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 27px;
  font-family: "PTSans", "Arial", sans-serif;
  color: $black;
  font-style: normal;

  @media (min-width: $tablet-width) {
      width: 768px;
    }


  @media (min-width: $desktop-width) {
    width: 1200px;
  }

  // background: red;
}

// @media (min-width: $tablet-width) {
//   body {
//     width: 768px;
//   }
// }

// @media (min-width: $tablet-width) {
//   body {
//     width: 768px;
//   }
// }

img {
  max-width: 100%;
  height: auto;
}

// .hidden {
//   display: none;
// }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

div,
section,
a,
ul,
li,
p,
footer,
header {
  outline: 1px solid blue;
}

.button {
  width: 280px;
  height: 58px;

  display: block;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $light-grey-blue;
}
